<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/assets/css/output.css" />
    </head>
    <body class="bg-gray-950 text-white h-full overflow-hidden">
        <div id="header" class="flex justify-between p-2 h-16 bg-gray-900">
            <img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/video-call--v1.png"
                alt="video-call--v1"
            />
            <div class="space-x-2 flex items-center">
                <button
                    id="notify-button"
                    class="relative transition-all group p-2 hover:rounded-full hover:bg-gray-800"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
                        />
                    </svg>
                    <div
                        id="notify-container"
                        class="hidden absolute top-10 -left-60 w-80 bg-gray-800 shadow-lg p-1 rounded-lg"
                    >
                        <div class="font-bold text-center mb-2">Notifiche</div>
                        <ul
                            class="divide-y divide-gray-700 max-h-80 overflow-auto"
                        >
                            <li
                                class="py-2 px-1 flex justify-between items-center"
                            >
                                <span class="text-sm text-wrap max-w-36"
                                    >Username ti ha invitato ad una
                                    chiamata</span
                                >
                                <div
                                    id="accetta"
                                    class="bg-green-900 font-medium hover:bg-green-800 rounded-lg p-2"
                                >
                                    Accetta
                                </div>
                                <!-- <button>Accetta</button> -->
                            </li>
                        </ul>
                    </div>
                </button>

                <button
                    id="logout-button"
                    class="transition-all p-2 hover:rounded-full hover:bg-gray-800"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15"
                        />
                    </svg>
                </button>
            </div>
        </div>

        <div
            class="w-full h-full flex flex-col lg:flex-row items-center justify-evenly"
        >
            <div id="create-call-container" class="p-1 sm:p-3 sm:m-2">
                <div
                    class="text-center md:text-left font-extrabold text-2xl my-4 mx-2 p-2"
                >
                    Chiama chi vuoi
                </div>
                <div
                    id="action-call-container"
                    class="flex flex-col items-center space-y-5 md:space-y-0 md:flex-row max-h-24"
                >
                    <button
                        id="btn-new-call"
                        class="transition-all bg-green-900 font-medium hover:bg-green-800 rounded-lg p-2 mx-4"
                    >
                        Nuova Riunione
                    </button>
                    <div id="existing-call-group" class="flex items-center">
                        <input
                            id="callId"
                            type="text"
                            class="transition-all bg-gray-900 border border-gray-700 rounded-lg focus:outline-none focus:ring-2 focus:bg-gray-800 focus:ring-green-900 focus:border-green-900 p-2 mx-1 placeholder:text-gray-400"
                            placeholder="Inserisci un codice"
                        /><button
                            id="btn-participate-call"
                            class="transition-all relative bg-green-900 hover:bg-green-800 rounded-lg p-2 mx-1 font-medium inline-flex items-center"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="sm:hidden size-6"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75"
                                />
                            </svg>

                            <p class="hidden sm:inline-block">Partecipa</p>
                        </button>
                    </div>
                </div>
            </div>

            <div id="friends-online" class="p-3 m-2 w-80">
                <div class="font-bold text-xl text-center my-4">
                    Chiamate recenti
                </div>
                <div id="recent-calls-container">
                    <ul
                        class="max-w-md max-h-80 overflow-auto divide-y divide-gray-700"
                    >
                        <li class="pb-3 sm:pb-4 px-1 mx-1">
                            <div
                                class="flex items-center space-x-4 rtl:space-x-reverse"
                            >
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium truncate">
                                        Neil Sims
                                    </p>
                                    <p class="text-sm truncate text-gray-400">
                                        email@flowbite.com
                                    </p>
                                </div>
                                <div
                                    class="inline-flex items-center text-base font-semibold"
                                >
                                    $320
                                </div>
                            </div>
                        </li>
                        <li class="py-3 sm:py-4 px-1 mx-1">
                            <div
                                class="flex items-center space-x-4 rtl:space-x-reverse"
                            >
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium truncate">
                                        Neil Sims
                                    </p>
                                    <p class="text-sm truncate text-gray-400">
                                        email@flowbite.com
                                    </p>
                                </div>
                                <div
                                    class="inline-flex items-center text-base font-semibold"
                                >
                                    $320
                                </div>
                            </div>
                        </li>
                        <li class="py-3 sm:py-4 px-1 mx-1">
                            <div
                                class="flex items-center space-x-4 rtl:space-x-reverse"
                            >
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium truncate">
                                        Neil Sims
                                    </p>
                                    <p class="text-sm truncate text-gray-400">
                                        email@flowbite.com
                                    </p>
                                </div>
                                <div
                                    class="inline-flex items-center text-base font-semibold"
                                >
                                    $320
                                </div>
                            </div>
                        </li>
                        <li class="py-3 sm:py-4 px-1 mx-1">
                            <div
                                class="flex items-center space-x-4 rtl:space-x-reverse"
                            >
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium truncate">
                                        Neil Sims
                                    </p>
                                    <p class="text-sm truncate text-gray-400">
                                        email@flowbite.com
                                    </p>
                                </div>
                                <div
                                    class="inline-flex items-center text-base font-semibold"
                                >
                                    $320
                                </div>
                            </div>
                        </li>
                        <li class="pt-3 pb-0 sm:pt-4 px-1 mx-1">
                            <div
                                class="flex items-center space-x-4 rtl:space-x-reverse"
                            >
                                <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium truncate">
                                        Neil Sims
                                    </p>
                                    <p class="text-sm truncate text-gray-400">
                                        email@flowbite.com
                                    </p>
                                </div>
                                <div
                                    class="inline-flex items-center text-base font-semibold"
                                >
                                    $320
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="/assets/js/dashboard.js"></script>
    </body>
</html>
