<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/output.css">
    <title>Document</title>
</head>

<body class="h-full bg-gray-950 text-white flex flex-col justify-center items-center">

  <div class="text-2xl font-bold text-center">Signup to your account</div>
  <form id="signup-form" class="flex flex-col justify-around p-2 sm:px-8 px-6 sm:w-full sm:mx-auto sm:max-w-sm mt-10">
    <div id="username-group" class="mb-5">
      <label for="username" class="block mb-2 text-sm leading-6 font-semibold">Username</label>
      <input class="block bg-gray-900 border border-gray-700 rounded-lg focus:outline-none focus:ring-2 focus:bg-gray-800 focus:ring-green-900 focus:border-green-900 w-full p-2" type="text" name="username" id="username">
    </div>
    <div id="password-group" class="mb-5">
      <label for="password" class="block mb-2 text-sm leading-6 font-semibold">Password</label>
      <input class="block bg-gray-900 border border-gray-700 rounded-lg focus:outline-none focus:ring-2 focus:bg-gray-800 focus:ring-green-900 focus:border-green-900 w-full p-2" type="password" name="password" id="password">
    </div>
    <button class="w-full bg-green-900 text-black hover:bg-green-800 rounded-lg p-2 font-semibold" id="btn-submit-signup" type="button">Invia</button>
  </form>

  <div class="mt-8 font-semibold text-sm">Not registered yet? <a class="text-green-900 hover:text-green-800" href="/register">Register</a></div>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/assets/js/signup.js"></script>
</body>
</html>